.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 12px;
    width: 800px;
    height: 300px;
    overflow: hidden;   /* hides anything that spills outside */
    position: relative;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    text-align: center;
  }

  
  .project-img {
    width: 100%;
    height: 60%;
    object-fit: cover;   /* keeps aspect ratio and fills the box */
    display: block;
  }
  